<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Localization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>StaticWiredAppKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>StaticWiredFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>StaticWiredNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>WiredAppKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>WiredFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>WiredNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libwired.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7712BA960E5C1726001C4210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7712BB670E5C1964001C4210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773F65060E5DBDC1001A753B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774896EA0CC8A63200E95A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77DBEA470E62B8F500B738D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77DBEB340E62B97300B738D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77FFC0F7075E1014008ED58A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5C23CFE0E9AC2AB00A81F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
